<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1>Our latests job offers</h1>
    <ul class="list-group">
      <% @offers.each do |offer| %>
        <li class="list-group-item">
          <span class="badge">
            Posted
            <%= distance_of_time_in_words(offer.created_at, Time.zone.now) %>
            ago
          </span>
          <h4 class="list-group-item-heading">
            <%= link_to offer.job_title, offer %>
          </h4>
          <p class="list-group-item-text">
            <%= offer.organization_name %>
          </p>
        </li>
      <% end %>
    </ul>
    <%= will_paginate @offers %>
  </div>
</div>
